.container .detalhes {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0px;
    text-align: justify;
}


.container .nome-filme {
    color: #a8adb7;
    width: 85%;
    font-size: 35px;
    margin: 10px 0px 0px;
    text-align: justify;
}

.container .ano-classificacao-genero {
    color: #a8adb7;
    width: 85%;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
}

.container .titulo-detalhes {
    color: #a8adb7;
    width: 85%;
    font-size: 20px;
    margin: 40px 0px 0px;
    text-align: justify;
}
